.contain{
	cursor: pointer;
	background-color: black;
	position: relative;
	height: 1015px;
	width: 100%;
} 

.title{
	color: white;
	font-size: 100px;
	font-weight: 600;
	position: relative;
	top : -70px; 
	text-align: center;
	transition: 1s;
		&:hover{top : 20px;}
}

.lingkaran{
	background-color: white;
	border: 1px solid white;
	border-radius: 50px;
	box-sizing: border-box;
	color: black;
	padding: 0;
	position: relative;
	left : 80px;
	text-align: center;
	width: 100px;
	height: 100px;
	transition: 0.2s;
}

.samadengan{
	// border: 1px solid white;
	box-sizing: border-box;
	font-size: 300%;
	height: 60px;
	width: 60px;
	margin: 20% auto;
	padding: 0px;
}
.wrapisi{
	// border: 1px solid green;
	box-sizing: border-box;
	position: absolute;
	bottom : 0px;
	left : 52.5%;
	width: 47.5%;
	height: 100%;
}

.isi{
	background-color: white;
	// border: 1px solid blue;
	box-sizing: border-box;
	position: absolute;
	bottom : 0px;
	// left : -52.5%;
	height: 100%;
	width: 52.5%;
}

.menubar{
	position: relative;
	bottom : 110px;
}

.menu{
	background-color: rgba(84,80,80, 0.5);
	border: 1px solid grey;
	border-radius: 60px;
	box-sizing: border-box;
	color: white;
	display: none;
	margin: -13px;
	padding: 1.75% 0px;
	position: absolute;
	left : 70px;
	height: 125px;
	width: 320px;
}

.menuinner{
	// border: 1px solid red;
	box-sizing: border-box;
	font-size: 220%;
	height: 50px;
	width: 110px;
	padding: 2% 0px;
	text-align: right;
	margin: auto;
	margin-right: 25px;
}

#hom{
	// border: 1px solid red;
	color: black;
	font-size: 400%;
	font-family: serif;
	font-weight: 300;
	margin: 0px auto;
	padding: 18px;
	position: relative;
	text-align: right;
	width: 70%;
}

#tentang{
	// border: 1px solid red;
	color: black;
	font-size: 400%;
	font-family: serif;
	font-weight: 300;
	margin: 0px auto;
	padding: 18px;
	position: relative;
	text-align: right;
	width: 70%;
}

#kontak{
	// border: 1px solid red;
	color: black;
	font-size: 400%;
	font-family: serif;
	font-weight: 300;
	margin: 0px auto;
	padding: 18px;
	position: relative;
	text-align: right;
	width: 70%;
}

.wraphom{
	// border: 1px solid blue;
	margin: 340px auto;
	width: 50%;
}

.sosmed{
	// border: 1px solid yellow;
	position: absolute;

	bottom : 0px;
	left : 400px; 
}

.wrapfb{
	// border: 1px solid green;
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 50px 5px;
	.fb{
		// border: 1px solid red;
		background-color: #cccccc;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		box-sizing: border-box;
		// padding: 0;
		margin: 20% auto;
		&:hover{
			width: 65px;
			height: 65px;
		}
		img{
			margin: 14.5px;
		}
	}
}

.wraptw{
	// border: 1px solid green;
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 50px 5px;
	.tw{
		background-color: #cccccc;
		// border: 1px solid red;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		box-sizing: border-box;
		// padding: 0;
		margin: 20% auto;
		&:hover{
			width: 65px;
			height: 65px;
		}
		img{
			margin: 14.25px;;
		}
	}
}

.wrappin{
	// border: 1px solid green;
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 50px 5px;
	.pin{
		background-color: #cccccc;
		// border: 1px solid red;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		box-sizing: border-box;
		// padding: 0;
		margin: 20% auto;
		&:hover{
			width: 65px;
			height: 65px;
		}
		img{
			margin: 14.25px;;
		}
	}
}

.wrapig{
	// border: 1px solid green;
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 50px 5px;
	.ig{
		background-color: #cccccc;
		// border: 1px solid red;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		box-sizing: border-box;
		// padding: 0;
		margin: 20% auto;
		&:hover{
			width: 65px;
			height: 65px;
		}
		img{
			margin: 14.25px;;
		}
	}
}

#foto{
	border-radius: 25px;
	position: relative;
	left : 75%;
	top : -300px;
}

#tempat{
	color: white;
	font-size: 35px;
	font-family: serif;
	font-weight: 400;
	position: relative;
	top : -700px;
}

#tanggal{
	color: white;
	font-size: 50px;
	font-family: serif;
	font-weight: 600;
	position: relative;
	top : -700px;
}

#tahun{
	color: white;
	font-size: 50px;
	font-family: serif;
	font-weight: 600;
	position: relative;
	top : -700px;
}

#alamatt{
	color: white;
	font-size: 35px;
	font-family: serif;
	font-weight: 400;
	position: relative;
	top : -700px;
}

#jalan{
	color: white;
	font-size: 50px;
	font-family: serif;
	font-weight: 600;
	position: relative;
	top : -700px;
}

#kontakmailis{
	color: white;
	font-size: 35px;
	font-family: serif;
	font-weight: 400;
	text-align: right;
	position: relative;
	top : -900px;
}

#kontaktelp{
	color: white;
	font-size: 50px;
	font-family: serif;
	font-weight: 600;
	text-align: right;
	position: relative;
	top : -850px;
}

#about{
	color: white;
	font-size: 50px;
	font-family: serif;
	font-weight: 600;
	text-align: right;
	position: relative;
	top : -850px;
}